<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>17C88</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>PropertyInjector</string>
	<key>CFBundleIdentifier</key>
	<string>de.Brumbaer.PropertyInjector</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>PropertyInjector</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>9C40b</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>17C76</string>
	<key>DTSDKName</key>
	<string>macosx10.13</string>
	<key>DTXcode</key>
	<string>0920</string>
	<key>DTXcodeBuild</key>
	<string>9C40b</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>RadeonVIIBoost</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>de.Brumbaer.PropertyInjector</string>
			<key>IOClass</key>
			<string>PropertyInjector</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x66AF1002</string>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>Properties</key>
			<dict>
				<key>ATY,EFIDriverType</key>
				<data>Ag==</data>
				<key>ATY,EFIEnabledMode</key>
				<data>AQ==</data>
				<key>ATY,EFIVersion</key>
				<string>01.00.3180</string>
				<key>ATY,EFIVersionB</key>
				<string>113-C944A1XT-014</string>
				<key>PP_ACDCGpioDisabled</key>
				<integer>0</integer>
				<key>PP_DiDtSQPatternWidthOverride</key>
				<integer>14</integer>
				<key>PP_DiDtSQStallPatternOverride</key>
				<integer>16383</integer>
				<key>PP_DisableDIDT</key>
				<integer>1</integer>
				<key>PP_DisablePCCLimitControl</key>
				<integer>1</integer>
				<key>PP_FclkGfxClkRatio</key>
				<integer>1036831949</integer>
				<key>PP_PhmUseDummyBackEnd</key>
				<integer>0</integer>
				<key>PP_WorkLoadPolicyMask</key>
				<integer>1</integer>
				<key>CFG_NVV</key>
				<integer>2</integer>
				<key>CFG_PTPL2_CNT</key>
				<integer>16</integer>
				<key>CFG_PTPL2_MAX</key>
				<integer>300</integer>
				<key>CFG_PTPL2_MIN</key>
				<integer>90</integer>
				<key>CFG_TPS1S</key>
				<true/>
			</dict>
		</dict>
		<key>RX5700Boost</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>de.Brumbaer.PropertyInjector</string>
			<key>IOClass</key>
			<string>PropertyInjector</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x731F1002</string>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>Properties</key>
			<dict>
				<key>ATY,EFIDriverType</key>
				<data>Ag==</data>
				<key>ATY,EFIEnabledMode</key>
				<data>AQ==</data>
				<key>ATY,EFIVersion</key>
				<string>01.00.3180</string>
				<key>ATY,EFIVersionB</key>
				<string>113-C944A1XT-014</string>
				<key>DalEarlyTps1Pattern</key>
				<integer>1</integer>
				<key>PP_DiDtSQStallPatternOverride</key>
				<integer>16383</integer>
				<key>PP_DisableDIDT</key>
				<integer>0</integer>
				<key>PP_PhmUseDummyBackEnd</key>
				<integer>0</integer>
				<key>PP_WorkLoadPolicyMask</key>
				<integer>32</integer>
				<key>SMU_ActivityMonitorTable</key>
				<data>AAQABAIA6AMAAAEAAAAAAAAAAADQAQEAMP7+/wAAAAAABAAAAgDoAwAAAQAAAAAAAAAAANABAQA45v//AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAkFAAFkPAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==</data>
				<key>CFG_NO_PP</key>
				<false/>
				<key>CFG_PTPL2_CNT</key>
				<integer>16</integer>
				<key>CFG_PTPL2_MAX</key>
				<integer>250</integer>
				<key>CFG_PTPL2_MIN</key>
				<integer>100</integer>
			</dict>
		</dict>
		<key>Vega5664Boost</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>de.Brumbaer.PropertyInjector</string>
			<key>IOClass</key>
			<string>PropertyInjector</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x687F1002</string>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>Properties</key>
			<dict>
				<key>ATY,EFIDriverType</key>
				<data>Ag==</data>
				<key>ATY,EFIEnabledMode</key>
				<data>AQ==</data>
				<key>ATY,EFIVersion</key>
				<string>01.00.3180</string>
				<key>ATY,EFIVersionB</key>
				<string>113-C944A1XT-014</string>
				<key>PP_ACDCGpioDisabled</key>
				<integer>0</integer>
				<key>PP_DiDtSQPatternWidthOverride</key>
				<integer>14</integer>
				<key>PP_DiDtSQStallPatternOverride</key>
				<integer>16383</integer>
				<key>PP_DisableDIDT</key>
				<integer>1</integer>
				<key>PP_DisablePCCLimitControl</key>
				<integer>1</integer>
				<key>PP_PhmUseDummyBackEnd</key>
				<integer>0</integer>
				<key>CFG_NVV</key>
				<integer>2</integer>
				<key>CFG_PTPL2_TBL</key>
				<data>0gAAAMwAAADGAAAAwAAAALoAAAC0AAAAqgAAAKAAAACWAAAAjAAAAIIAAAB4AAAAbgAAAGQAAABaAAAAHgAAAA==</data>
			</dict>
		</dict>
		<key>RX580Boost</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>de.Brumbaer.PropertyInjector</string>
			<key>IOClass</key>
			<string>PropertyInjector</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x67DF1002</string>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>Properties</key>
			<dict>
				<key>ATY,EFIDriverType</key>
				<data>Ag==</data>
				<key>ATY,EFIEnabledMode</key>
				<data>AQ==</data>
				<key>ATY,EFIVersion</key>
				<string>01.00.3180</string>
				<key>ATY,EFIVersionB</key>
				<string>113-C944A1XT-014</string>
				<key>PP_DisableMCDownLoadFeature</key>
				<integer>1</integer>
				<key>PP_EnableLoadFalconSmcFirmware</key>
				<integer>1</integer>
				<key>PP_Falcon_QuickTransition_Enable</key>
				<integer>1</integer>
				<key>CFG_NVV</key>
				<integer>2</integer>
				<key>CFG_PTPL2_TBL</key>
				<data>ggAAAHwAAAB2AAAAcAAAAGoAAABkAAAAXgAAAFgAAABSAAAATAAAAEYAAABAAAAAOgAAADQAAAAuAAAAKAAAAA==</data>
				<key>CFG_TPS1S</key>
				<true/>
				<key>CFG_USE_AGDC</key>
				<true/>
				<key>CFG_USE_CP2</key>
				<true/>
				<key>CFG_USE_SCANOUT</key>
				<true/>
				<key>CFG_USE_TCON</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2017 Brumbaer. All rights reserved.</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.kpi.bsd</key>
		<string>15.3</string>
		<key>com.apple.kpi.iokit</key>
		<string>15.3</string>
		<key>com.apple.kpi.libkern</key>
		<string>15.3</string>
		<key>com.apple.kpi.mach</key>
		<string>15.3</string>
		<key>com.apple.kpi.unsupported</key>
		<string>15.3</string>
	</dict>
</dict>
</plist>
